body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* End of Animation Web */

.text-center img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.text-center {
  color: whitesmoke;
}

.Headofabout {
  margin-top: 200px;
  color: blue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.container {
  margin-top: 50px;
  font-family: "Anton", sans-serif;
  font-weight: bold;
}

.anjay {
  margin-top: 100px;
}
